.container {
    display: flex;
    flex-direction: column;
    flex-flow:row;
    flex-wrap: wrap;
    
}

#newbe {
    position: relative;
    width:100px;
    height: 30px;
    background-color: darkgoldenrod;
}