
#newbe {
    position: relative;
    width:300px;
    height: 80px;
    background-color: darkgoldenrod;
}

.item {
    border: 0.25rem solid #FF500A;

    font-size: calc(1.5rem + 3vw);
    border-radius: 0.5rem;
    display: flex;
    justify-content:center;
    align-items: center;
} 
.button {
    width: 100px;
    height:100px;
    border-radius: 10%;
    justify-content: flex-start;
    align-items:flex-end;
    display: inline-flex;
}
.divbutton{
    align-items: center;
    display: inline-flex;
    /* gap: 60px; */

    justify-content: flex-end;
}

